@media(min-width:992px) and (max-width:1199px){
    .slider-wrapper{
        width: 81%;
        margin:auto;
    }
    .slide-wrap {
        width: 81%;
        margin: auto;
    }
    .eight-image-wrapper{
        width: 83%;
        margin: auto;
    }
.header-left{
    padding-left:0;
}
.header-width{
    padding: 14px 10px 80px 10px;
}
.header-button{
    margin-left:30px;
}
.navigate{
    padding:40px 10px;
}
.text{
    padding: 0 32px;
}
.thirty-three:hover .text {
    left: 11px;
}
.logo{
    width:140px;
}
.shopp-icon{
    margin-left:0;
}
.border-img {
    width: 357px;
    border-radius: 8px;
}

.sec-2 {
    width: 58%;
    padding: 0 17px;
}
.section-1{
    padding-bottom:9%;
}
.ice-img{
    top:0;
}
.about-us{
    margin-top:70px;
}
.section-2{
    padding-top:10%;
    padding-bottom:10%;
}
.twelve{
    font-size:37px;
}
.plus{
    font-size:37px;
    }
    .under-fifty{
        padding-right: 17px;
        padding-left: 3%;
    }
    .fifty{
       width: 43.7%;
    }
    .imagic{
        margin-right:52px;
        margin-left:0;
    }
    .container {
        width: 49%;
        margin: auto;
    }
    .beautiful-wrapper {
        width: 91%;
        margin: auto;
}
.ms {
    width: 68%;
}
.letter{
    line-height: 63px;
}
.well{
    padding: 100px 79px;
}
.imo{
    right: 28px;
}
.quick{
    padding: 0 0px;
}
.linked{
    padding: 95px 48px;
}
}
@media(min-width:992px) and (max-width:1165px){
.slider-wrapper{
    width:93%;
    margin:auto;
}
.eight-image-wrapper{
    width: 98%;
    margin: auto;
}
.three-image-wrapper{
    width:78%;
    margin:auto;
}
.slide-wrap {
    width: 96%;
    margin: auto;
}
.beautiful-wrapper{
    width:91%;
    margin:auto;
}
.clip-1,.clip-2,.clip-3,.clip-4,.clip-5,.clip-6{  
     width: 413px !important;
}
.case-three:hover .clip-1::before,
.case-three:hover .clip-2::before,
.case-three:hover .clip-3::before,
.case-three:hover .clip-4::before,
.case-three:hover .clip-5::before,
.case-three:hover .clip-6::before {
width: 1969px !important;
}
.highly {
    padding: 0 21px;
    margin-bottom: 67px;
}
.space{
    margin-top: 79px !important;
}
.container {
    width: 58%;
    margin: auto;
}
.all-font {
    padding: 0 73px;
}
.letter {
    font-size: 56px;
}
.abs {
    width: 351px;
}
.thirty-three {
    width: 44%;
}
.girl-img {
    display: flex;
    flex-wrap: wrap;
}
.third-pic{
    margin-top: 46px;
}
}
@media(min-width:768px) and (max-width:992px){
	  span.three-dots.res-dots.material-symbols-rounded {
        display: block;
    }
    .wrap {
        width: 97%;
        margin: auto;
    }
    .relative:hover .home-list{
        transform: translateX(0);
    }
    .home-padding {
        padding: 10px 0!important;
    }
    .black {
        padding: 3px 0;
    }
    .relative .home-list {
        width: 257px;
        top: 13px;
        right: 110px;
        transform: translateX(100%);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .navigate{
        display: none;
        padding: 0px 15px;
    }
    .services {
        padding: 9px 13px;
    }
    .sidenav .navigate {
      display: block!important;
    }
.head-2 {
    font-size: 35px;
}
.take-care{
    font-size: 32px;
}
.twelve {
    font-size: 37px;
}
.header-button{
    margin-right: 15px;
        padding: 0 25px;
        margin-left: 60px!important;
        letter-spacing: 1px;
}
.header-left {
    padding-left:0;
}
.header-width {
    padding: 20px 17px 80px 17px;
}
.slider-wrapper {
    width: 82%;
    margin: auto;
}
.slide-wrap {
    width: 84%;
    margin: auto;
}
.digital-agency {
    font-size: 70px;
    line-height: 89px;
}
.parts{
    width: 47% !important;
        padding: 0 7px;
        padding-top: 80px;
}
.section-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
    padding:0;
    margin-bottom: -37px;
}
.section-2 {
    padding-top: 8%;
        padding-bottom: 91px;
}
.mobile-wrap{
    flex-wrap:wrap;
}
.mrg {
    margin-bottom: 26px;
}
.beautiful-wrapper {
    width: 93%;
    margin: auto;
}
.ice-img {
    width: 100%;
}
.border-img {
    width: 100%;
}
.paira-font{
    padding: 0 9%;
}
.sec-2 {
    width: 100%;
    padding-left:0;
}
.logo {
    width: 136px;
}
.imagic{
    margin-left: 8px;
    margin-bottom: 15px;
}
.business{
    padding-left: 3%;
    width: 100%;
}
.fifty {
    width: 41.9%;
    padding-top: 4%;
    padding: 30px 21px;
}
.display-wrap{
    flex-wrap:wrap;
}
.stratagy{
    font-size: 21px;
    font-weight: 500;
}
.capital{
    font-size: 36px;
}
.sec-5 {
    margin-top: -16px;
}
.fun-font {
    font-size: 36px !important;
}
.ding{
    padding:0;
}
.fnt {
    font-size: 16px;
}
.service {
    padding-top: 35px;
    padding-bottom: 41px;
}
.highly {
    font-size: 28px;
    line-height: 47px;
    margin-bottom: 45px;
}
.girl-img {
    flex-wrap: wrap;
}
.three-image-wrapper {
    width: 82%;
    margin: auto;
}
.space {
    margin-top: 55px !important;
}
.container {
    width: 69%;
    margin: auto;
}
.news{
    margin-top: 3%;
}
.latest p{
        padding-right: 15%;
}
.line{
    line-height: 30px;
}
.text span{
    font-size: 14px;
}
.third-pic{
    margin-top: 34px;
    border-radius: 8px;
}
.ms {
    width: 67%;
}
.mar{
margin-top: 5px;
}
.thirty-three {
    width: 48%;
}
.eight-image-wrapper {
    width: 93%;
    margin: auto;
}
.capsule-image {
    width: 100%;
}
.ready-to {
    width: 100%;
}
.say-quick {
    margin-top:0;
}
.letter {
    font-size: 75px;
    line-height: 87px;
    padding-right: 39%;
}
.well {
    padding: 100px 70px;
}
.imo {
    right: 21px;
}
.linked {
    padding: 99 57px;
}
.ready-wrap{
    flex-wrap:wrap;
}
.all {
    padding-bottom: 11px;
}
.ice-img{
    top:0;
}
.font {
    margin-bottom: 8px;
}
.sec-8{
    padding-bottom: 9px;
}
.clip-1,
.clip-2,
.clip-3,
.clip-4,
.clip-5,
.clip-6{
    width: 314px !important
}
.case-three:hover .clip-1::before,
.case-three:hover .clip-2::before,
.case-three:hover .clip-3::before,
.case-three:hover .clip-4::before,
.case-three:hover .clip-5::before,
.case-three:hover .clip-6::before {
    width: 1597px !important;
}
.home-padding {
    padding: 10px 0!important;
}
/* start responsive navigation javascript code */
 .sidenav {
        padding-top: 74px;
        padding-bottom: 142px;
        display:block;
    }
    .sidebar{
        color:#f9004d;
    }
      .sidenav a {
        font-size: 14px;
    display: block!important;
    font-weight: 600;
    font-family: inherit;
    }
    .sidenav .closebtn{
        display:block;
    }
    .three-dots{
        display:block;
        font-size: 37px !important;
            color: #fff;
        }
    .sidenav a {
        padding: 0px 8px 0 32px;
}
.single-product {
    width: 249px;
    top: 38px;
    right: -83px;
}
}
/* end responsive navigation javascript code */
@media(max-width:767px){
	  span.three-dots.res-dots.material-symbols-rounded {
        display: block;
    }
    .bread-crumb {
        font-size: 42px;
        margin-bottom: 3px;
        margin-top: 38px;
        font-weight: 700;
    }
    .first-back:before {
        height: 256px;
    }
    .first-back {
        height: 240px;
    }
    .dot:before {
        top: -6px;
    }
    .relative:hover .home-list{
        transform: translateX(0);
    }
    .main-about {
        padding-top: 66px;
    }
    .res-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .about-us-wrap {
        margin: auto;
        width: 72%;
    }
    .save-time {
        font-size: 29px;
        font-weight: 800;
        line-height: 38px;
        margin-top: 7px;
    }
    .save-paira {
        font-size: 17px;
        line-height: 27px;
        font-weight: 300;
        font-family: system-ui;
    }
    .experience {
        font-size: 12px;
    }
    .about-width {
        width: 100%;
         padding-left: 0!important;
         margin-top: -83px;
    }
    .queen {
        width: 100%;
    }
    .sidenav a {
        padding: 0px 8px 0 32px;
}
    .home-padding {
        padding: 10px 0!important;
    }
    .black {
        padding: 3px 0;
    }
    .relative .home-list {
        width: 210px;
        top: 13px;
        right: 0px;
        transform: translateX(100%);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .navigate{
        display: none;
        padding: 0px 15px;
    }
    .services {
        padding: 9px 13px;
    }
    .sidenav .navigate {
      display: block!important;
    }
.header-button{
    display: none;
}
.paira-font{
    padding: 0 0;
}
.header-width{
    padding: 14px 2px 80px 9px;
}
.header-left{
    padding-left:0;
}
.logo {
    width: 136px;
}
.digital-agency{
    font-size: 50px;
    line-height: 68px;
}
.slider-wrapper {
    width: 71%;
    margin: auto;
}
.border-img{
    width: 512px;
}
.section-1{
    flex-wrap: wrap;
    margin-top:-17px;
}
.parts {
    width: 46% !important;
    padding: 0 10px;
    margin-bottom:23px;
}
.popular{
    margin-top: 69px;
}
.section-5{
    padding-top: 74px;
}
.mrg {
    margin-bottom: 27px;
}
.section-3{
    margin-bottom: 29px;
}
.paira {
    font-size: 16px;
}
.capt{
    font-size: 18px;
}
.slide-wrap {
    width: 74%;
    margin: auto;
}
.ice-img{
    top:0;
    width:100%;
    text-align: center;
}
.paira{
    padding-right: 11px;
}
.mobile-wrap{
    flex-wrap: wrap;
}
.section-2{
    margin-top: 10px;
    padding-top: 69px;
    padding-bottom:70px;
}
.sec-2{
    width:100%;
    padding-left:0!important;
}
.head-2 {
    font-size: 30px;
}
.about-us{
    margin-top: 51px;
}
.twelve {
    font-size: 37px;
}
.take-care {
    font-size: 28px;
}
.paira-font {
    font-size: 16px;
}
.display-wrap{
    flex-wrap: wrap;
}
.stratagy{
    font-size:18px;
    margin-bottom: 5px;
}
.business {
    width: 100%!important;
    padding-left:0;
    margin-top: 15px;
}
.fifty {
    width: 39%;
    padding: 28px 21px;
}
.imagic{
    margin-left: 0;
}
.capital{
    font-size: 30px;
    margin-top: 12px;
}
.clip-1,
.clip-2,
.clip-3,
.clip-4,
.clip-5,
.clip-6{
    width: 415px !important
}
.case-three:hover .clip-1::before,
.case-three:hover .clip-2::before,
.case-three:hover .clip-3::before,
.case-three:hover .clip-4::before,
.case-three:hover .clip-5::before,
.case-three:hover .clip-6::before {
    width: 1962px !important;
}
.abs{
    width: 346px;
}
.fun-font {
    font-size: 30px !important;
}
.flex-wrap{
    flex-wrap:wrap;
}
.font {
    font-size: 45px;
}
.fnt {
    font-size: 16px;
 padding: 0;
 margin-top: 0px;
}
.ding{
    margin-bottom: 47px;
}
.bottom{
    padding-bottom:0;
}
.highly {
    font-size: 20px;
    line-height: 36px;
    padding: 0 80px;
    margin-bottom: 26px;
}
.service {
    padding-top: 12px;
        padding-bottom: 13px;
}
.section-7 {
    padding-top: 34px;
}
.latest p {
    font-size: 16px;
    line-height: 27px;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: -47px;
}
.girl-img{
    flex-direction: column;
}
.thirty-three {
    width: 100%;
}
.mar{
    font-size: 20px !important;
    letter-spacing: 0px;
    margin-top: 8px;
}
.text span{
        font-size: 14px;
}
.line {
    line-height: 30px;
}
.thirty-three:hover .first-pic:before,
.thirty-three:hover .second-pic:before,
.thirty-three:hover .third-pic:before{
    width: 100%;
    left: 7px;
}
.text {
    width: 75%;
 padding: 0;
    left: 75px;
}
.first-pic,.second-pic,.third-pic{
    max-width:480px;
    margin-top: 46px;
}
.second-pic{
    background-position: center center;
}
.news {
    font-size: 40px;
}
.three-image-wrapper{
    width: 57%;
    margin: auto;
}
.space{
    margin-top: 35px!important;
}
.container {
    width: 91%;
    margin: auto;
}
.mix-pic{
    padding: 0 4px;
    width: 17%
}
.nine-img{
	width:25%!important;
}
.sec-8{
	padding-bottom: 11px;
}
.sec-8{
	padding-bottom: 11px;

}
span.swiper-pagination-bullet {
    display: block;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
         margin: 0 !important;
         width:14px;
         height:14px;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet{
    background-color: white;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic{
    width:100%!important;
  }
  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    margin: 0 5px !important;
  }
  .ready-to{
    padding-bottom:26px;
    width: 100%;
}
.ready-wrap{
    flex-wrap:wrap;
}
.well{
    padding: 100px 31px;
}
.letter{
    line-height: 65px;
    font-size: 45px;
}
.imo{
    right: 14px;
    width: 253px;
}
.linked{
    padding: 51px 15px;
}
.say-quick {
    margin-top:0;
}
.quick{
    padding:0 12px;
}
.all-font{
    padding: 0 29px!important;
}
.eight-image-wrapper{
    width:79%;
    margin: auto;
}
.say-quick {
    padding-bottom: 62px;
}
.ms {
    width: 73%;
}
.about-clr {
    font-size: 41px;
}
/* start responsive navigation javascript code */
.sidenav {
    padding-top: 74px;
    padding-bottom: 142px;
    display:block;
}
.sidebar{
    color:#f9004d;
}
  .sidenav a {
    font-size: 14px;
display: block;
font-weight: 600;
font-family: inherit;
}
.sidenav .closebtn{
    display:block;
}
.res-shop{
    margin-right: 61px;
}
.three-dots{
    display:block;
    font-size: 32px !important;
    color: #fff;
}
.main-about {
    padding-bottom: 53px;
}
.news {
    margin-top: 13%;
}
.res-images {
    width: 100%;
}
.wrap-wrap{
    display: flex;
    flex-wrap: wrap;
}
.res-highly{
        font-size: 23px;
}
.res-asr{

        color: #de2847!important;
        font-size: 11px;
        font-weight: 600;
    }
    .res-word {
        font-size: 11px;
    }
}
    
    /* end responsive navigation javascript code */
@media(max-width:692px){
	  span.three-dots.res-dots.material-symbols-rounded {
        display: block;
    }
    .parts {
        width: 45% !important;
}
.slide-wrap {
    width: 84%;
    margin: auto;
}
.slider-wrapper {
    width: 91%;
    margin: auto;
}
.paira-font{
    padding: 0 6%;
}
}
@media(max-width:600px){
.three-dots{
    margin-left:25px;
}
.header-width {
    padding: 14px 2px 24px 9px;
}
.slider-wrapper {
    width: 94%;
    margin: auto;
}
.digital-agency {
    font-size: 40px;
    line-height: 48px;
}
.slide-wrap {
    width: 98%;
    margin: auto;
}
.section-1 {
    margin-top: -4px;
    padding-bottom: 9px;
}
.parts{
    width:100%!important;
}
.img-mrg {
    margin-bottom: 17px;
}
.capt {
    margin-bottom: -9px;
}
.border-img {
    width: 100%;
}
.section-2{
    padding-top: 54px;
    padding-bottom: 57px;
}
.sec2-paira {
    font-size: 16px;
        margin-bottom: 27px;
}
.head-2{
    margin-top: 8px;
}
.third-num {
    width: 50%;
    margin-bottom: 3px;
}
.awards {
    flex-wrap: wrap;
}
.twelve {
    font-size: 30px;
        margin-top: -10px;
}
.sec2-line{
    display: none;
}
.flex{
    flex-wrap: wrap;
}
.fifty{
    width:100%;
}
.highly{
    padding: 0 0;
}
.wrap {
    width: 94.4%;
    margin: auto;
}
.word {
    font-size: 14px;
    letter-spacing: 0;
}
.asr {
    font-size: 14px;
    letter-spacing: 0;
}
.mix-pic {
    width: 25%;
}
.space{
    padding: 0 0!important;
}
.container {
    width: 100%;
    margin: auto;
}
.three-image-wrapper {
    width: 82%;
    margin: auto;
}
.text {
    left: 55px;
}
.nine-img {
    width: 33% !important;
}
.zoom{
    padding-right:0;
    padding-left:0;
}
.eight-image-wrapper {
    width: 100%;
    margin: auto;
}
.ms {
    width: 78%;
}
.letter{
    padding-right: 12%;
    line-height: 53px;
}
.linked{
    flex-wrap:wrap;
    padding: 28px 15px;
}
.link{
    margin-bottom: 13px;
}
.quick{
    margin-top: 32px;
}
.all{
    margin-top: 17px;
}
.paira-font {
    padding: 0 0;
}
.capital{
    padding: 0 12%;
}
.beautiful-wrapper {
    width: 95%;
    margin: auto;
}
.three-image-wrapper {
    width: 88%;
    margin: auto;
}
.ready-spacing {
    letter-spacing: 1px;
}
.act{
    padding: 11px 18px;
}
.eight-image-wrapper {
    width: 97%;
    margin: auto;
}
}
@media(max-width:500px){
	  span.three-dots.res-dots.material-symbols-rounded {
        display: block;
    }
.paira {
    padding-right: 4px;
}
.capital {
    padding: 0 8%;
}
.abs {
    width: 239px;
}
.fa-arrow-up{
right: 15px;
bottom: 24px;
}
.fnt{
    padding: 0 8%;
}
.three-image-wrapper {
    width: 91%;
    margin: auto;
}
.text {
    position: absolute;
    bottom: 23px;
    left: 20px !important;
}
 .thirty-three:hover .text{
    position: absolute;
    bottom: 23px!important;
    left: 20px !important;
} 

 .first-pic:before,
.second-pic:before,
 .third-pic:before{
	content:"";
	position:absolute;
    background: rgb(202,7,7);
	height:532px; 
	width:100%;
    background: linear-gradient(#fc004d 10%,#000 100%); 
	opacity:0.5;
	border-radius: 12px;
}
.first-pic:hover:before,
.second-pic:hover:before,
 .third-:hover:before{
    content:"";
	position:absolute;
    background: rgb(202,7,7);
	height:532px; 
	width:100%;
    background: linear-gradient(#fc004d 10%,#000 100%); 
	opacity:0.5;
	border-radius: 12px;
 }
 .all {
    padding-right: 8%;
    box-sizing: border-box;
    padding-left: 8%;
}
.all-font{
    padding:0!important;
}
 .act {
    padding: 13px 25px;
 }
 .ms{
    padding: 0 10px;
 }
 .nine-img {
    width: 33% !important;
}
.eight-image-wrapper {
    width: 89%;
    margin: auto;
}
}
@media(max-width:300px){
	  span.three-dots.res-dots.material-symbols-rounded {
        display: block;
    }
.slider-wrapper {
    width: 89%;
    margin: auto;
}
.abs {
    width: 203px;
}
.container {
    width: 93%;
    margin: auto;
}
.news{
    line-height: 55px;
}
.mar {
    font-size: 19px !important;
}
.ms {
    width: 64%;
    padding: 0 7px;
}
.eight-image-wrapper {
    width: 93%;
    margin: auto;
}
.nine-img {
    width: 33% !important;
}
.gray{
    padding-right: 11px;
}
.all {
    padding-right: 19%;
}
.fa-arrow-up{
    bottom: 13px;
    right:14px;
}
}
